.joins {
  margin-top: 70px;
  padding: 0 0px 25px;
  width: 100%;
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: #F3F0E7;
  height: auto; 
  .foto{
      width: 100%;    
  margin: 0 auto; 
  img{
      max-width: 100%; 
  height: auto;   
  display: block;  
  margin: 0 auto;
  }
  }
  .content {
    padding: 30px 39px 0;
    text-align: left;

    h4 {
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 22px;
      line-height: 100%;
      color: #1E1E1E;
    }

    p {
      padding-top: 10px;
      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
      font-size: 21px;
      line-height: 140%;
      color: #1E1E1E;
      max-width: 100%;
    }
.link{
    text-decoration: none;
}
    .btn {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      button {
        width: 100%;
        max-width: 1312px;
        height: 54px;
        border-radius: 10px;
        background: #1E1E1E;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 400px;
        font-family: Noto Sans;
        cursor: pointer;
        &:hover {
          background: #FFFFFF;
          color: #1E1E1E;
        }
      }
    }
  }
}