.hero{
    background: linear-gradient(141deg, #ffd43c 0%, #ffc806 44.58%, #f4af2f 100%);
    border-radius: 15px;
    padding: 20px 40px;
    .banner{
        width: 500px;
        height: 490px;
    }
}