.section {
    margin: 70px auto 0 auto;
    max-width: 1312px;
    width: 100%;
    padding: 0 20px;
    background: #fff;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 600;
    color: #111;
    margin-bottom: 50px;
}

.grid {
    display: flex;
    justify-content: center; 
    gap: 24px;
    flex-wrap: nowrap; 
}

.card {
    background: #ffe14d;
    padding: 20px;
    width: 310px;
    height: 160px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.number {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 100px;
    font-weight: 900;
    color: rgba(255, 214, 0, 0.6);
    pointer-events: none;
}

.text {
    font-size: 18px;
    line-height: 120%;
    color: var(--osnovnye-black);
    text-align: start;
}


@media (max-width: 861px) {
    .grid {
        flex-wrap: wrap;  
        justify-content: center;
    }

    .card {
        width: 45%; /* 2 в ряд */
        min-width: 200px;
        height: 150px;
        padding: 20px;
    }

    .number {
        font-size: 70px;
    }

    .text {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .grid {
        gap: 16px;
    }

    .card {
        width: 100%; 
        height: auto;
        min-height: 120px;
        padding: 20px;
    }

    .number {
        font-size: 56px;
        left: 10px;
    }

    .text {
        font-size: 14px;
    }
}